GILL_PROG_ESM_RATE_XLS_blueprint.json
{
    "name": "GILL_PROG_ESM_RATE_XLS",
    "flow": [
        {
            "id": null,
            "module": "placeholder:Placeholder",
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "key",
                "scope": "roundtrip",
                "value": "a5f981bb3857"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "any",
                        "label": "key"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 13992
            },
            "mapper": {
                "key": "{{2.key}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "datastore": {
                        "label": "CBFM"
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "SS",
                        "type": "text",
                        "label": "DCR Software Statement",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "clientid",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "clientSecret",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "accessToken",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "grant_type",
                        "value": "client_credentials"
                    },
                    {
                        "name": "client_id",
                        "value": "{{22.clientid}}"
                    },
                    {
                        "name": "client_secret",
                        "value": "{{22.clientSecret}}"
                    }
                ],
                "url": "https://sp.auth.adobe.com/o/client/token",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "GET ACCESS_TOKEN"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{20.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "type": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "start",
                        "value": "{{formatDate(addDays(now; -1); \"YYYY-MM-DDT00:00:00\")}}"
                    },
                    {
                        "name": "proxy",
                        "value": "Direct"
                    }
                ],
                "url": "https://mgmt.auth.adobe.com/esm/v3/media-company/year/month/day/proxy/mvpd/requestor-id.csv",
                "data": "",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{24.access_token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "text/plain",
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 1502,
                    "y": -7,
                    "name": "GET_EVENT_ESM"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": [
                            "undefined",
                            "undefined"
                        ]
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "Text (text/plain)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 84,
            "module": "csv:ParseCSV",
            "version": 1,
            "parameters": {
                "relax": false,
                "colCount": 18,
                "delimiterType": ",",
                "csvContainsHeaders": false
            },
            "mapper": {
                "csv": "{{25.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "delimiterType": {
                        "label": "Comma"
                    }
                },
                "parameters": [
                    {
                        "name": "colCount",
                        "type": "number",
                        "label": "Number of columns",
                        "required": true
                    },
                    {
                        "name": "csvContainsHeaders",
                        "type": "boolean",
                        "label": "CSV contains headers",
                        "required": true
                    },
                    {
                        "name": "delimiterType",
                        "type": "select",
                        "required": true,
                        "validate": {
                            "enum": [
                                ",",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "relax",
                        "type": "boolean",
                        "label": "Preserve quotes inside unquoted field",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "csv",
                        "type": "text",
                        "label": "CSV",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "col1",
                        "type": "text",
                        "label": "Column 1"
                    },
                    {
                        "name": "col2",
                        "type": "text",
                        "label": "Column 2"
                    },
                    {
                        "name": "col3",
                        "type": "text",
                        "label": "Column 3"
                    },
                    {
                        "name": "col4",
                        "type": "text",
                        "label": "Column 4"
                    },
                    {
                        "name": "col5",
                        "type": "text",
                        "label": "Column 5"
                    },
                    {
                        "name": "col6",
                        "type": "text",
                        "label": "Column 6"
                    },
                    {
                        "name": "col7",
                        "type": "text",
                        "label": "Column 7"
                    },
                    {
                        "name": "col8",
                        "type": "text",
                        "label": "Column 8"
                    },
                    {
                        "name": "col9",
                        "type": "text",
                        "label": "Column 9"
                    },
                    {
                        "name": "col10",
                        "type": "text",
                        "label": "Column 10"
                    },
                    {
                        "name": "col11",
                        "type": "text",
                        "label": "Column 11"
                    },
                    {
                        "name": "col12",
                        "type": "text",
                        "label": "Column 12"
                    },
                    {
                        "name": "col13",
                        "type": "text",
                        "label": "Column 13"
                    },
                    {
                        "name": "col14",
                        "type": "text",
                        "label": "Column 14"
                    },
                    {
                        "name": "col15",
                        "type": "text",
                        "label": "Column 15"
                    },
                    {
                        "name": "col16",
                        "type": "text",
                        "label": "Column 16"
                    },
                    {
                        "name": "col17",
                        "type": "text",
                        "label": "Column 17"
                    },
                    {
                        "name": "col18",
                        "type": "text",
                        "label": "Column 18"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 86,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 84,
                "rowSeparator": "other",
                "otherRowSeparator": ", "
            },
            "mapper": {
                "value": "[\"{{84.col1}}\", \"{{84.col2}}\", \"{{84.col3}}\", \"{{84.col4}}\", \"{{84.col5}}\", \"{{84.col6}}\", \"{{84.col7}}\", \"{{84.col8}}\", \"{{84.col9}}\", \"{{84.col10}}\", \"{{84.col11}}\", \"{{84.col12}}\", \"{{84.col13}}\", \"{{84.col14}}\", \"{{84.col15}}\", \"{{84.col16}}\", \"{{84.col17}}\", \"{{84.col18}}\"]"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "CSV - Parse CSV [84]"
                    },
                    "rowSeparator": {
                        "label": "Other"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            },
            "flags": {
                "stopIfEmpty": true
            }
        },
        {
            "id": 73,
            "module": "microsoft-excel:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 65921
            },
            "mapper": {
                "url": "/v1.0/me/drive/items/012QFITM5TLAC7FXXYABHKC24NLE3LJL45/workbook/worksheets/ESM_DATA/range(address='A1:R1001')/clear",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0,
                    "name": "CLEAR RANGE"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "My Microsoft 365 connection (Eric Minnick)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 92,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "rowct",
                "scope": "roundtrip",
                "value": "{{length(split(86.text; \"]\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 0,
                    "name": "Get RowCt"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "rowct",
                        "type": "any",
                        "label": "rowct"
                    }
                ]
            }
        },
        {
            "id": 93,
            "module": "microsoft-excel:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 65921
            },
            "mapper": {
                "url": "/v1.0/me/drive/items/012QFITM5TLAC7FXXYABHKC24NLE3LJL45/workbook/worksheets/ESM_DATA/range(address='A1:R{{92.rowct}}')",
                "body": "{\"values\":[{{86.text}}]}",
                "method": "PATCH",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 3000,
                    "y": 0,
                    "name": "INSERT RANGE"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "PATCH"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "My Microsoft 365 connection (Eric Minnick)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "microsoft-excel:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 65921
            },
            "mapper": {
                "url": "/v1.0/me/drive/items/012QFITM5TLAC7FXXYABHKC24NLE3LJL45/workbook/worksheets/AUTHN/pivotTables/refreshAll",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 3300,
                    "y": 0,
                    "name": "REFRESH AUTHN PVT"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "My Microsoft 365 connection (Eric Minnick)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 95,
            "module": "microsoft-excel:makeApiCall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 65921
            },
            "mapper": {
                "url": "/v1.0/me/drive/items/012QFITM5TLAC7FXXYABHKC24NLE3LJL45/workbook/worksheets/AUTHZ/pivotTables/refreshAll",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 3600,
                    "y": 0,
                    "name": "REFRESH AUTHZ PVT"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "My Microsoft 365 connection (Eric Minnick)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 22,
                    "text": "THIS STEP NEEDS TO BE UPDATED TO ALWAYS RETURN A PROPER CLIENT_ID AND CLIENT_SECRET, EVEN IF THIS IS A FIRST RUN FOR A KEY.",
                    "coords": {
                        "x": 908.3676397205588,
                        "y": -913.7291822604788
                    },
                    "filter": false
                },
                {
                    "id": 25,
                    "text": "limit=2. until figuring out proper column and row filling\n\nthen limit=10 to confirm\n\nthen limit=1000 to confirm dynamic ranges work, then release",
                    "coords": {
                        "x": 1270.824964056157,
                        "y": -410.4707586265223
                    },
                    "filter": false
                }
            ]
        },
        "zone": "app.workfrontfusion.com"
    }
}